@layout('layouts/dashboard')

@section('content')


  @!component('dashboard/users/form', {
    method: 'POST',
    heading: 'Create a new user',
    detail: "Let's get started by filling in the information below to create a new user",
    roles
  })


@endsection

