<tr>
  <td class="whitespace-nowrap px-4 py-3 font-medium text-gray-900">
    {{ ticket.name }}
  </td>
  <td class="whitespace-nowrap px-4 py-3 text-gray-700 flex justify-start">
    <button
      type="button"
      class="mr-4 vdecoration-2 hover:underline text-indigo-700 font-medium"
    >
      Edit
    </button>

    <button
      type="button"
      class="decoration-2 hover:underline text-indigo-700 font-medium"
    >
      Delete
    </button>
  </td>
</tr>
