@layout('layouts/dashboard')

@section('content')


  @!component('pages/dashboard/git-projects/commits/form', {
    method: 'POST',
    heading: 'Create a new commit',
    detail: "Let's get started by filling in the information below to create a new commit",
    platformOptions,
    ticketOptions,
    currentDate,
  })


@endsection
